@model IEnumerable<ApiMVCApplication.Models.User>
<p><a asp-action="Create">Добавить пользователя</a></p>
<h2>Список пользователей</h2>
<table class="table">
    <tr><th>Login</th><th>Password</th><th>Created Date</th><th>State</th><th>Group</th></tr>
    @foreach(var item in Model){
        <tr>
            <td>@item.Login</td>
            <td>@item.Password</td>
            <td>@item.CreatedDate</td>
            <td>@item.UserGroup?.Code</td>
            <td>@item.UserState?.Code</td>
            <td>
                <a asp-action="Edit" asp-controller="Home" asp-route-id="@item.Id">Изменить</a>
            </td>
            @if (item.UserStateId != 2){
                <td>
                    <form asp-action="Delete" asp-controller="Home" asp-route-id="@item.Id" method="post">
                        <input type="submit" value="Удалить" />
                    </form>
                </td>
            }
        </tr>
    }
</table>
