@model ApiMVCApplication.Models.IndexViewModel
<style>
    .tr, td, th{
        padding: 10px 10px 10px 10px;
    }

    .glyphicon {
        display: inline-block;
        padding: 0 5px;
    }

    .glyphicon-chevron-right:after {
        content: "\00BB";
    }

    .glyphicon-chevron-left:before {
        content: "\00AB";
    }
</style>

<p><a asp-action="Create" >Добавить пользователя</a></p>
<h2>Список пользователей</h2>
<table>
    <tr><th>Login</th><th>Password</th><th>Created Date</th><th>Group</th><th>State</th></tr>
    @foreach(var item in Model.Users){
        <tr>
            <td>@item.Login</td>
            <td>@item.Password</td>
            <td>@item.CreatedDate</td>
            <td>@item.UserGroup?.Code</td>
            <td>@item.UserState?.Code</td>
            <td>
                <form asp-action="Details" asp-controller="Home" asp-route-id="@item.Id" method="get">
                    <input type="submit" value="Details" />
                </form>
            </td>
            @if (item.UserStateId != 2)
            {
                <td>
                    <form asp-action="Edit" asp-controller="Home" asp-route-id="@item.Id" method="get">
                        <input type="submit" value="Изменить" />
                    </form>
                </td>
                <td>
                    <form asp-action="Delete" asp-controller="Home" asp-route-id="@item.Id" method="post">
                        <input type="submit" value="Удалить" />
                    </form>
                </td>
            }
        </tr>
    }
</table>
<p>
    @if (Model.PagingInfo.HasPreviousPage)
    {
        <a asp-action="Index" asp-route-page="@(Model.PagingInfo.PageNumber - 1)" class="glyphicon glyphicon-chevron-left">Назад</a>
    }
    @if (Model.PagingInfo.HasNextPage)
    {
        <a asp-action="Index" asp-route-page="@(Model.PagingInfo.PageNumber + 1)" class="glyphicon glyphicon-chevron-right">Вперёд</a>
    }
</p>